

.top-menu {
    margin-left: 250px;
    height: 35px;
    width: 1000px;
    background-color: white;
    font-size: 13px;
    font-family: cursive;
    color: black;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;


}

.body-site{
    color: white;
    height: 130px;
    width: 1500px;
    background-color: darkred;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, serif;

}

.item-left{
    display: flex;
    align-items: center;

}
.item-center{
    display: flex;
    align-items: center;
    flex-direction: column;


}

.first-main-item{
    font-size: 35px;
    margin-top: 30px;

}

.second-main-item{
    font-size: smaller;
}
.item-right{
    display: flex;
    align-items: center;

}






.bottom-menu {
    margin-left: 250px;
    height: 20px;
    width: 1000px;
    background-color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 17px;
    color: black;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
