.mein-block {
    height: 900px;
    width: 900px;
    background-color: black;
    border: 5px solid;
}


.top-orange-block {
    height: 150px;
    width: 900px;
    background-color: orange;
}

.middle-block {
    display: flex;
}

.red {
    height: 600px;
    width: 225px;
    background-color: red;
}

.green {
    height: 600px;
    width: 225px;
    background-color: green;
}

.blue {
    height: 600px;
    width: 225px;
    background-color: blue;
}

.black {
    height: 600px;
    width: 225px;
    background-color: black;
}


.bottom-orange-block {
    height: 150px;
    width: 900px;
    background-color: orange;
}
